#banner {
    height: 2em;
    background-color: black;
    color: white;
}

#map-canvas {
    height: 100%;
}

body {
    margin: 0px;
}

div {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    padding-top: 0.25em;
    text-align: center;
}